.Profile dt {
	font-weight: bold;
}

.Profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5px 50px;
	height: 520px;
}

.Profile dl {
	height: 100%;
	width: 300px;
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.Profile dd {
	height: 50px;
	align-self: flex-start;
	margin: 0;
}

.Profile dl .back-btn {
	width: 150px;
	align-self: center;
	margin-top: 90px;
}
